
.shadow-transition-text {
    text-shadow: none;
    transition: text-shadow 0.5s ease-in-out;
    color: #43a724;
    font-weight: bold;
    font-size: 54px;
}

.shadow-transition-text:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.h1{
    font-size: 54px;
    font-weight: bold;
    text-align: left;
}
.App {
    overflow: hidden; /* Hide overflow to prevent scrollbar during slide-in */
  }
  
  .slide-in-text {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
    color: #43a724;
    font-size: 54px;
    font-weight: bold;
    text-align: left;
  }
  
  .slide-in-text.show {
    transform: translateX(0);
    opacity: 1;
  }
  .para{
    font-size: 20px;
    text-align: left;
    opacity: 0.8;
  }
  .sec{
    margin: 40px;
    text-align: left;
  }
  