.Navbar{
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color:blue;
    height: 114px;
}
.items{
    color: black;
    margin-top: 5px;
    
}
.items1:hover{
    opacity: 0.8;
}
.button{
    font-weight: bold;
    border-radius: 50px;
    width: 140px;
    font-size: 16px;
    height: 54px;
    background-color: #43a724;
    border:2px solid #43a724;
    margin-left: 10px;
    
}
.button1:hover{
    opacity:0.8;
}
.img{
    height: 40px;
    width: 175px;
}
.brand{
    margin-right: 50px;
}
.container{
    display: grid; /* Enable grid layout */
    grid-template-columns: 1fr auto;

}
.button2{
    font-weight: bold;
    border-radius: 50px;
    width: 168px;
    font-size: 16px;
    height: 54px;
    font-size: 16x;
    background-color: white;
    border:2px solid #43a724;
    margin-left: 10px;
    color: #43a724;
}
.alignment{
    justify-content: end;

}